<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>

<body>
    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-8 sm:py-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 sm:gap-8">
                <div class="sm:col-span-2 lg:col-span-1">
                    <div class="text-xl sm:text-2xl font-bold text-blue-400 mb-3 sm:mb-4">UniTech Engineering Works
                    </div>

                    <p class="text-sm sm:text-base text-gray-300">Leading provider of best Converying solutions.</p>
                    <p> Precision. Performance. Reliability</p>
                </div>
                <div>
                    <h3 class="text-base sm:text-lg font-semibold mb-3 sm:mb-4">Products</h3>
                    <ul class="space-y-1 sm:space-y-2 text-gray-300">
                        <li><a href="https://www.unitechengineeringworks.com/portable-telescopic-truck-conveyer-1792195.html" class="text-sm sm:text-base hover:text-white transition-colors">Portable Telescopic Truck Conveyer</a></li>
                              
                        <li><a href="https://www.unitechengineeringworks.com/packing-conveyor-432358.html" class="text-sm sm:text-base hover:text-white transition-colors">Packing
                                Conveyer</a></li>
                        <li><a href="https://www.unitechengineeringworks.com/ss-dustbin-paddle-type-1379913.html" class="text-sm sm:text-base hover:text-white transition-colors">SS Dustbin - Paddle Type</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-base sm:text-lg font-semibold mb-3 sm:mb-4">Contact Us</h3>
                    <ul class="space-y-1 sm:space-y-2 text-gray-300">
                        <li class="text-sm sm:text-base hover:text-white transition-colors">+91 08045801424</li>
                        <li class="text-sm sm:text-base hover:text-white transition-colors">ED-55, Tagore Garden, <br>
                            New Delhi-110027, <br>
                            Delhi, India </li>
                    </ul>
                </div>
            </div>
            <div class="border-t border-gray-700 mt-6 sm:mt-8 pt-6 sm:pt-8 text-center text-gray-300">
                <p class="text-sm sm:text-base">&copy; 2025 UniTech Engineering Works. All rights reserved. <a style="color: blue;"
                        href="https://www.tradeindia.com/about-us/terms/terms_01.html">Terms of use</a></p>
            </div>
        </div>
    </footer>

</body>

</html>